body {
    background-color: rgb(238, 238, 238);
}

.site_name {
    color: rgb(43, 43, 43);
    font-size: 40px;
}

.main_area {
    text-align: center;
    margin-top: 4%;
}

.introduction {
    margin-bottom: 40px;
}

.search_button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
}

.results_table {
    margin-left: auto;
    margin-right: auto;
}